<div class="jumbotron">
    <h1>GRUPO DE ESTUDO</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
        @foreach (EntityFramework_exercicio.Models.Cliente cliente in ViewBag.clientes)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
            </tr>
        }

    </table>
    
   
</div>

